In [6]:
import pandas as pd
import os

os.getcwd()

'C:\\Notebooks\\Stock_Files'

# Loading Data

In [15]:
x = pd.read_csv('MSFT2019-04-26.csv')
# x.head(10)
# x.tail(10)
# print(x.tail(10))

                    date   1. open   2. high   3. low  4. close  5. volume
380  2019-04-26 09:40:00  129.7400  129.7400  129.440    129.64     241712
381  2019-04-26 09:39:00  129.6750  129.7500  129.630    129.73     104756
382  2019-04-26 09:38:00  129.8700  129.8975  129.630    129.68     137436
383  2019-04-26 09:37:00  130.0619  130.1600  129.680    129.83     133008
384  2019-04-26 09:36:00  129.8300  130.1500  129.780    130.09     151010
385  2019-04-26 09:35:00  130.0300  130.0300  129.810    129.83     111833
386  2019-04-26 09:34:00  129.9000  130.0500  129.781    130.03     149585
387  2019-04-26 09:33:00  130.1050  130.1800  129.805    129.92     232852
388  2019-04-26 09:32:00  130.0900  130.5152  130.040    130.13     483303
389  2019-04-26 09:31:00  129.8000  130.1000  129.580    130.10    1258594

# Reading Data

In [42]:
# x.columns

# x['date'][0:5]

# x[['date','4. close']]

# x.iloc[0:4]

# x.iloc[0,4]

# for index, row in x.iterrows():
#     print(index, row)

# x.loc[x['4. close'] == 130.10]

                    date  1. open  2. high  3. low  4. close  5. volume
389  2019-04-26 09:31:00    129.8    130.1  129.58     130.1    1258594

# Sorting/Describing Data

In [50]:
# x.sort_values('5. volume', ascending = False)
x['Change'] = x['4. close'] - x['1. open']

,date,1. open,2. high,3. low,4. close,5. volume,Change
0,2019-04-26 16:00:00,129.7300,129.9100,129.7150,129.8900,484062,0.1600
1,2019-04-26 15:59:00,129.6900,129.7600,129.6900,129.7300,142100,0.0400
2,2019-04-26 15:58:00,129.6740,129.7200,129.6500,129.6900,152430,0.0160
3,2019-04-26 15:57:00,129.6800,129.7000,129.6100,129.6700,180722,-0.0100
4,2019-04-26 15:56:00,129.6800,129.8700,129.6800,129.6850,276341,0.0050
5,2019-04-26 15:55:00,129.6050,129.7000,129.5900,129.6800,122666,0.0750
6,2019-04-26 15:54:00,129.5900,129.6200,129.5700,129.6000,68046,0.0100
7,2019-04-26 15:53:00,129.6400,129.6400,129.5900,129.5900,69192,-0.0500
8,2019-04-26 15:52:00,129.6500,129.6500,129.6000,129.6400,77548,-0.0100
9,2019-04-26 15:51:00,129.6309,129.6700,129.5950,129.6484,78221,0.0175
10,2019-04-26 15:50:00,129.7150,129.7300,129.6357,129.6357,55994,-0.0793
11,2019-04-26 15:49:00,129.7000,129.7194,129.6700,129.7100,78857,0.0100
12,2019-04-26 15:48:00,129.7800,129.7800,129.7000,129.7000,71965,-0.0800
13,2019-04-26 15:47:00,129.7850,129.7965,129.7700,129.7750,43174,-0.0100
14,2019-04-26 15:46:00,129.8000,129.8390,129.7850,129.7855,77896,-0.0145
15,2019-04-26 15:45:00,129.8000,129.8100,129.7999,129.8100,50612,0.0100
16,2019-04-26 15:44:00,129.8000,129.8100,129.7950,129.8000,45484,0.0000
17,2019-04-26 15:43:00,129.8000,129.8150,129.7600,129.8000,40048,0.0000
18,2019-04-26 15:42:00,129.8050,129.8300,129.7800,129.8023,43842,-0.0027
19,2019-04-26 15:41:00,129.7810,129.8400,129.7657,129.8100,66941,0.0290
20,2019-04-26 15:40:00,129.7748,129.7800,129.7300,129.7800,42307,0.0052
21,2019-04-26 15:39:00,129.7850,129.7900,129.7300,129.7700,36335,-0.0150
22,2019-04-26 15:38:00,129.8016,129.8100,129.7600,129.7863,32503,-0.0153
23,2019-04-26 15:37:00,129.7750,129.8100,129.7500,129.8100,39379,0.0350
24,2019-04-26 15:36:00,129.7100,129.7700,129.7050,129.7700,37238,0.0600
25,2019-04-26 15:35:00,129.7650,129.7700,129.7100,129.7150,26169,-0.0500
26,2019-04-26 15:34:00,129.6600,129.7700,129.6600,129.7700,41738,0.1100
27,2019-04-26 15:33:00,129.6850,129.7000,129.6500,129.6550,28708,-0.0300
28,2019-04-26 15:32:00,129.6300,129.7000,129.6300,129.6860,52971,0.0560
29,2019-04-26 15:31:00,129.6000,129.6300,129.5650,129.6300,44707,0.0300
...,...,...,...,...,...,...,...
360,2019-04-26 10:00:00,129.2100,129.3577,129.2001,129.3000,80012,0.0900
361,2019-04-26 09:59:00,129.2100,129.2500,129.1400,129.2100,56897,0.0000
362,2019-04-26 09:58:00,129.2400,129.3000,129.1500,129.2000,97876,-0.0400
363,2019-04-26 09:57:00,129.1700,129.2400,129.1200,129.2400,62297,0.0700
364,2019-04-26 09:56:00,129.1600,129.2499,129.0800,129.1900,89991,0.0300
365,2019-04-26 09:55:00,129.3800,129.3800,129.1600,129.1600,102460,-0.2200
366,2019-04-26 09:54:00,129.6000,129.6100,129.3550,129.3900,78672,-0.2100
367,2019-04-26 09:53:00,129.6100,129.6600,129.5700,129.6000,77292,-0.0100
368,2019-04-26 09:52:00,129.6200,129.7400,129.5900,129.6100,100366,-0.0100
369,2019-04-26 09:51:00,129.7300,129.8000,129.5900,129.6250,107244,-0.1050
370,2019-04-26 09:50:00,129.5200,129.7200,129.5100,129.7200,90496,0.2000
371,2019-04-26 09:49:00,129.4488,129.5300,129.3862,129.5200,59198,0.0712
372,2019-04-26 09:48:00,129.5200,129.5600,129.4000,129.4401,56378,-0.0799
373,2019-04-26 09:47:00,129.4600,129.6100,129.4600,129.5100,69188,0.0500
374,2019-04-26 09:46:00,129.5700,129.6100,129.3650,129.4535,140291,-0.1165
375,2019-04-26 09:45:00,129.4700,129.6500,129.4699,129.5700,96345,0.1000
376,2019-04-26 09:44:00,129.5300,129.5500,129.3300,129.4700,118625,-0.0600
377,2019-04-26 09:43:00,129.5400,129.6800,129.5000,129.5499,91050,0.0099
378,2019-04-26 09:42:00,129.7600,129.7700,129.5000,129.5400,85400,-0.2200
379,2019-04-26 09:41:00,129.6500,129.8750,129.6100,129.7600,119674,0.1100
380,2019-04-26 09:40:00,129.7400,129.7400,129.4400,129.6400,241712,-0.1000
381,2019-04-26 09:39:00,129.6750,129.7500,129.6300,129.7300,104756,0.0550
382,2019-04-26 09:38:00,129.8700,129.8975,129.6300,129.6800,137436,-0.1900
383,2019-04-26 09:37:00,130.0619,130.1600,129.6800,129.8300,133008,-0.2319
384,2019-04-26 09:36:00,129.8300,130.1500,129.7800,130.0900,151010,0.2600
385,2019-04-26 09:35:00,130.0300,130.0300,129.8100,129.8300,111833,-0.2000
386,2019-04-26 09:34:00,129.9000,130.0500,129.7810,130.0300,149585,0.1300
387,2019-04-26 09:33:00,130.1050,130.1800,129.8050,129.9200,232852,-0.1850
388,2019-04-26 09:32:00,130.0900,130.5152,130.0400,130.1300,483303,0.0400
389,2019-04-26 09:31:00,129.8000,130.1000,129.5800,130.1000,1258594,0.3000